<?xml version="1.0" encoding="UTF-8"?>

<launch> 
    <!-- att_tracking/att_hold -->
    <arg name = "task" default = "att_tracking"></arg>
    <!-- reference node -->
    <node name="ref_node" pkg="reference" type="ref_node.py" output="screen">
        <param name="task" value="$(arg task)" />
    </node>
</launch>
