<?xml version="1.0" encoding="UTF-8"?>

<launch> 

    <!-- point / roll / roll_sin / pitch / pitch_sin / yaw / yaw_sin -->
    <arg name = "task" default = "point"></arg>
    <!-- reference node -->
    <node name="ref_node" pkg="reference" type="ref_node.py" output="screen">
        <param name="task" value="$(arg task)" />
    </node>
</launch>
